<div class="container-fluid">

<p>Hey there. Welcome to Metroland Digital Commerce.</p>
<p>We’re a digitally driven collective that specializes in bringing great products to customers and great solutions to businesses online.</p>
<p>Our three main divisions – WagJag.com, TravelAlerts.ca and Save.ca – all started as small startups eager to reshape the face of Canadian commerce. Under a united effort, our crew has collaborated to grow each of them into nationally recognized names that receive millions of clicks and a flurry of transactions each day. People know they can trust our brands to provide them savings on their everyday needs, local indulgences and exotic travels.</p>
<p>We’re also connected to Metroland Media, a branch of the Torstar Corporation that’s one of the largest publishers in North America. Through them, we’ve been able to strengthen our identity and expand our reach at a dramatic rate.</p>
<p>Read on to learn more about what we do.</p>
</div>
