
<div class="container-fluid">
	<div class="row">
		<div>
			<div class="col-md-9">
				<h3>WagJag</h3>
				<p>WagJag is an online deal community where Canadians and their families can find great savings on things they need and love. It connects you with quality products and services at great discounts from national brands you know and love and notable businesses found right in your neighbourhood.</p>
			</div>
			<div class="col-md-3">
				<img src="https://canopylabs.com/wp-content/uploads/2014/01/wagjag-logo.png">
			</div>
		</div>
	</div>

	<div class="row">
		<div>
			<div class="col-md-9">
				<h3>TravelAlerts</h3>
				<p>TravelAlerts is a curator of online international and local travel deals providing Canadians access to the best in affordable travel experiences. Our passionate travel experts dedicate themselves to inspiring Canadian travel enthusiasts and helping them discover travel deals they love</p>
			</div>

			<div class="col-md-3">
				<img src="http://travelalerts.theblogstudio.com/wp-content/themes/travelalerts-responsive/images/common/logo_travelalerts.png">
			</div>
		</div>
	</div>

	
	<div class="row">
		<div>
			<div class="col-md-9">
				<h3>Save.ca</h3>
				<p>Save.ca is Canada's destination for exclusive savings on the great brands and products you use and love. We work closely with leading consumer packaged goods (CPG) companies to bring to Canadians exclusive coupons on anything from bread to peanut butter to detergent, all in one easy to use website.</p>
			</div>

			<div class="col-md-3">
				<img src="https://pbs.twimg.com/profile_images/456047466014441472/AJS5vhEU_400x400.jpeg" height="300" width="300">
			</div>
		</div>
	</div>

</div>
