<div class="container-fluid">
	<h3>WE’RE TRANSFORMING THE BUSINESS OF DIGITAL RETAIL...</h3>
	<p>And we need creative, driven individuals to join our collaborative team. If you are passionate about all things digital and rock at what you do, drop us a line. Your desk is waiting.</p>

	<h3>COMMERCE</h3>
	<p>Connect growing businesses with savvy shoppers in their communities.</p>

	<h3>MARKETING</h3>
	<p>Execute innovative strategies, craft striking designs, and be the voice of Metroland.</p>

	<h3>PROGRAMMING</h3>
	<p>Build engines that power our business and streamline user experience.</p>

	<h2>Why join us?</h2>
	<p>At Metroland, we know that money isn’t everything. You have to love what you do and who you do it with. That’s why, in addition to competitive compensation packages, we offer:</P>
	<ul>
		<li>A laid-back workspace that values collaboration, communication, and recognition</li>
		<li>Leaders invested in your personal and professional development who will challenge you with opportunities to maximize your potential</li>
		<li>The opportunity to work for a company that is connected to small businesses in local communities</li>
	</ul>

	<a href="#">VIEW OUR OPPORTUNITIES</a>
	<a href="#">SUBSCRIBE TO RECEIVE UPDATES OF NEW OPENINGS</a>
</div>
