<section id="contact">
	<div class="container">
			<div class="row">
			<h1>Want to contact us?</h1>
			<p>We are happy to help! Check out our brands below to see how to best reach us, or if you have any questions or comments.</p>
			<div class="vertical-strip">
				<ul>
					<li><a href="#wagjag">WagJag</a></li>
					<li><a href="#save">Save.ca</a></li>
					<li><a href="#travelalerts">TravelAlerts</a></li>
					<li><a href="#mdc">Metroland Digital Commerce</a></li>
				</ul>
			</div>
		</div>

		<div id="wagjag" class="row">
			<h1>WagJag</h1>
			<p>If you would like to advertise with WagJag, check out <a href="http://www.wagjagadvantage.com" target="_new">WagJag Advantage</a>.
			<div id="call-wagjag" class="contact-brand">
				<h4>Call Us</h4>
				<p>Monday-Thursday, 9:00am to 4:00pm EST.</p>
				<span class="block"><strong>Local:</strong> 416-687-5848</span>
				<span class="block"><strong>Toll Free:</strong> 1-855-4-WAGJAG (1-855-492-4524)</span>
				<span class="block"><strong>Fax:</strong> 1-866-473-3921</span>
				<a class="btn btn-default" href="tel://18554924524"><span class="glyphicon glyphicon-phone"></span> Call Now</a>
			</div>

			<div id="email-wagjag" class="contact-brand">
				<h4>Email Us</h4>
				<p>Email our Member Experience team and we'll get back to you as soon as possible with a response.</p>
				<a class="btn btn-default" href="mailto:someemail@metroland.com"><span class="glyphicon glyphicon-envelope"></span> Email Us</a>
			</div>
		</div>

		<div id="save" class="row">
			<h1>Save.ca</h1>
			<p>If you would like to advertise with Save.ca, check out <a href="http://www.save.ca/advantage" target="_new">Save Advantage</a>.
			<div class="contact-brand">
				<span class="block"><strong>General Inquiries:</strong> info@save.ca</span>
				<a class="btn btn-default" href="mailto:info@save.ca"><span class="glyphicon glyphicon-envelope"></span> Email Us</a>
			</div>
		</div>

		<div id="travelalerts" class="row">
			<h1>TravelAlerts</h1>
			<p>If you are a travel provider with some great deals to promote and you can brave thousands of requests for your product, then click here to find out how to <a href="http://www.travelalerts.ca/advertise/">advertise with us</a>.</p>
			<div id="email-travelalerts" class="contact-brand">
				<h4>Email Us</h4>
				<span class="block"><strong>General Inquiries:</strong> feedback@travelalerts.ca</span>
				<a class="btn btn-default" href="mailto:feedback@travelalerts.ca"><span class="glyphicon glyphicon-envelope"></span> Email Us</a>
			</div>
		</div>

		<div id="mdc" class="row">
			<h1>Metroland Digital Commerce</h1>

			<div>
				<span class="block"><strong>Say Hello:</strong> <a href="mailto:hello@metrolandcommerce.ca">hello@metrolandcommerce.ca</a></span><br/>
				<span class="block">1 Yonge Street, 4th Floor</span>
				<span class="block">Toronto, ON</span><br/>
			</div>
			<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1%20Yonge%20Street%2C%20Toronto%2C%20ON%2C%20Canada&key=AIzaSyBT1wg-ALH1jEBmljZTDKToGV8NmdJJpxY"></iframe>
		</div>
	</div>

	<div class="container">

	</div>
</section>
