<section class="photo-grid">
  <ul class="team-photos">
  {{# each data.members }}
    <li id="{{key}}" class="person">
      <img src="{{images.0.url}}" class="person no-hover"/>
      {{# if images.1.url}}
      <img src="{{images.1.url}}" class="person hover hide"/>
      {{/if}}
    </li>
  {{/each}}
  </ul>
</section>
