<section class="photo-grid">
  <ul class="team-photos">
  {{# each data.members }}
    <li id="{{key}}" class="person">
      <img src="images/sample_image_off.png" class="person no-hover"/>
      <img src="images/sample_image_on.png" class="person hover hide"/>
    </li>
  {{/each}}
  </ul>
</section>
