#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
  background-color: #4CAF50;
  margin-left: -20px;
  margin-right: -20px;
  color: #FFFFFF;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

#footer > a {
  color: #FFF;
}

#footer > a > div {
  background-color: #4CAF50;
  width: 50%;
  padding: 60px;
  float: left;
}

#footer > a > div.next {
  background-color: #449D4D;
}

#next-page, #prev-page {
  font-size: 16px;
}

#prev-page span{
  padding-right: 10px;
}
#next-page span{
  padding-left: 10px;
}
