.photo-grid .team-photos {
  list-style: none;
}

.photo-grid ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.photo-grid ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.photo-grid .person, .photo-grid .person-on {
  display: inline-block;
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

.brief {
  line-height: 30px;
  margin: 80px 0 80px 0;
}
